# dependencies
node_modules/

# environment variables
.env
.env.*

# build / coverage
dist
coverage

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / editor
.DS_Store
.vscode/
serviceAccountKey.json
campus-57557-firebase-adminsdk-fbsvc-b39ee43796.json
package-lock.json


architect.md
CODEBASE_ARCHITECTURE.md
firestore_security_rules_snippet.txt
gg.js
/public